body {
    background-color: pink !important;
    font-family: "Times New Roman", Times, serif !important;
}
h1 {
    color: #0c2d1c !important;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p {
    padding: 0 10px 0 10px;
}
nav.bg-light {
    background-color: beige !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #0c2d1c;
    opacity: .5;
}
.navbar-brand {
    width: 40px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #0c2d1c;
    opacity: .9;
}
.navbar {
    background-color: #0c2d1c;
}
.home-container {
    display: flex;  
}
.home-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.home-column img{
    width: 100%;
}
.home-text {
    height: -webkit-fill-available;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.home-text p {
    line-height: 2em;
}
#footer {
    background-color: #0c2d1c;
    height: 80px;
    color: white;
    text-align: center;
    padding-top: 25px;
    bottom: 0;
    width: 100%;
}
#footer a{
    color: white;
}
.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}
.item img{ /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
}
.portfolio-item {
    display: flex;
    align-items: flex-end;
}
.div-center {
    align-self: center;
}
.portfolio-item p{
    margin-bottom: 0;
}
.portfolio-line {
    display: block;
    height: 5px;
    background-color: #0c2d1c;
    margin-bottom: 1em;
}
.about-me-container {
    display: flex;
}
.about-me-item,
.about-me-item img{
    margin-top: 10px;
    margin-bottom: 100px;
    width: 100%;
}
.quote-style{
    font-style: italic;
    font-size: 22px;
}
p+.quote-style{
    padding-top: 78px;
}
.review-container p {
    padding-left: 100px;
    padding-right: 100px;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .masonry {
    column-count: 2;
  }
  .home-column {
    width: 100%;
  }
  .home-container, 
  .about-me-container { 
    flex-direction: column;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .masonry {
    column-count: 3;
  }
  .home-column {
    width: 100%;
  }
  .home-container, 
  .about-me-container{ 
    flex-direction: column;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .masonry {
    column-count: 4;
  }
} 