body {
    background-color: rgb(83, 83, 128) !important;
    color: rgb(218, 218, 218);
    font-family: 'Big Shoulders Display', cursive;
}
h1 {
    opacity: .9;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
p {
    padding: 0 10px 0 10px;
}
nav.bg-light {
    background-color: white !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(92, 92, 92);
    opacity: .5;
}
.navbar-brand {
    width: 40px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(51, 50, 50);
    opacity: .9;
}
.navbar {
    background-color: rgb(218, 218, 218);
}
.moving-container {
    display: flex; 
}
.moving-container p{
    display: flex; 
    justify-content: center;
}
.moving-item {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.moving-item img {
    width: 100%;
}
.image img{
    display: flex;
    width: 100%;
}
.img-padding img{
    padding-right: 10px;
    padding-bottom: 0;
}
.home-text {
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.home-moving-offers {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 3em;
}
.home-text p {
    line-height: 2em;
}
.line {
    display: block;
    height: 5px;
    background-color: white;
}
.thin-line {
    height: 2px;
}
#footer {
    background-color: rgb(218, 218, 218);
    height: 80px;
    text-align: center;
    padding-top: 25px;
    bottom: 0;
    width: 100%;
}
#footer a{
    color: rgb(83, 83, 128);
}
.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}
.item img{ /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
}
.portfolio-item {
    display: flex;
    align-items: flex-end;
}
.div-center {
    align-self: center;
}
.portfolio-item p{
    margin-bottom: 0;
}

.about-me-container {
    display: flex;
}
.about-me-item,
.about-me-item img{
    margin-top: 10px;
    margin-bottom: 100px;
    width: 100%;
}
.quote-style{
    font-style: italic;
    font-size: 22px;
}
p+.quote-style{
    padding-top: 78px;
}
.review-container p {
    padding-left: 100px;
    padding-right: 100px;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .moving-container {
        flex-direction: column;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

} 