body {
    background-color: rgb(83, 83, 128) !important;
    color: rgb(218, 218, 218);
    font-family: 'Big Shoulders Display', cursive;
}
h1 {
    opacity: .9;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
p {
    padding: 0 10px 0 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: rgb(24, 23, 23);
}
a:hover{
    color: white;
}
nav.bg-light {
    background-color: white !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(92, 92, 92);
    opacity: .5;
}
.navbar-brand {
    width: 40px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(51, 50, 50);
    opacity: .9;
}
.navbar {
    background-color: rgb(218, 218, 218);
}
.moving-container {
    display: flex; 
    flex-direction: column;
}
.moving-container p{
    display: flex; 
    justify-content: center;
}
.moving-item {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-top: 1em;
}
.moving-item img {
    width: 100%;
}
.image img{
    display: flex;
    width: 100%;
}
.home-text {
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.home-moving-offers {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 3em;
}
.home-text p {
    line-height: 2em;
}
.line {
    display: block;
    height: 5px;
    background-color: white;
}
.thin-line {
    height: 2px;
}
.pricing-header {
    display: flex;
    padding: 2em 0 0 6em;
    text-decoration: underline;
}
.header {
    display: flex;
    padding: 2em 0 0 4em;
    font-weight: bold;
}
.pricing-list li{
    margin-top: 8px;
    margin-left: 6em;
    font-size: 20px;
}
.pricing-custom {
    margin-left: 6em;
    font-size: 20px;
    padding-bottom: 2em;
}
.pricing-custom p {
    font-family: 'Big Shoulders Display', cursive;
}
.about-container p{
    padding: 4em 4em 4em 4em;
    font-size: 20px;
    line-height: 3em;
}
.about-item {
    flex-direction: column;
}
.contact-container {
    padding-top: 2em;
}
.contact-container h3{
    padding-left: 2em;
}
.contact-item p{
    padding: 1em 0 2em 6em;
}

#footer {
    background-color: rgb(218, 218, 218);
    height: 80px;
    text-align: center;
    padding-top: 25px;
    bottom: 0;
    width: 100%;
}
#footer a{
    color: rgb(83, 83, 128);
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .moving-container {
        flex-direction: row;
    }
    .pricing-container {
        display: flex;
    }
    .pricing-item {
        flex-direction: column;
        width: 100%;
    }
    .about-container {
        display: flex;
    }
    .about-item {
        width: 100%;
    }
    .contact-container {
        display: flex;
    }
    .contact-item {
        width: 100%;
        flex-direction: column;
    }
} 